{% extends "base.html" %}

{% block title %} Welcome {% endblock %}

{%block content %}
    <h1>Welcome to this test</h1>
    <p>
        This is a simple example
        <em>Using Flask</em>
        an showing a jpg
    </p>
    <h2>Queries</h2>
    <ul>
        {% for query in querys %}
        <li>
            <a href="{{ url_for('query_view', index=loop.index0)}}">
                {{ query.value1}}
            </a>
        </li>
        {% endfor %}
    </ul>
    <a href="{{url_for('add_query') }}">Add data</a>
{% endblock %}